.bonus
    button.btn-btn dark mode
    .container
        .bonus__row
            .bonus__info
                .bonus__text
                    .bonus__text-top RĂMÂI ÎN JOC
                    .bonus__text-bottom CU #[span APLICAȚIA] favbet
                .bonus__buttons
                    .bonus__buttons-item
                        a(href='https://apps.apple.com/ro/app/favbet-ro/id1114477310?l=ro').bonus__buttons-item-link.bonus__buttons-item-link-appstore
                            img(src='img/app-store.png' alt='appstore-link')
                        .bonus__buttons-item-qr.bonus__buttons-item-qr-appstore
                    .bonus__buttons-vs
                        img(src='img/vs.svg' alt='vs')
                    .bonus__buttons-item
                        a(href="/minio/android-files/Favbet.apk" data-link-type="raw" download="").bonus__buttons-item-link.bonus__buttons-item-link-googleplay
                            img(src='img/googleplay.png' alt='google-play-link')
                        .bonus__buttons-item-qr.bonus__buttons-item-qr-googleplay
            .bonus__image
                .bonus__image-wrap
                    .bonus__image-phoneTwo
                    .bonus__image-phoneOne
                    .bonus__image-elemOne
                    .bonus__image-elemTwo
                    .bonus__image-elemThree

